<html>
 <head><title>forgot password</title>
   <link rel="stylesheet" href="/css/forgot-password.css">
</head>


 <body>
    <div id="fpf_container">
      <h1>Please Enter you Email Address</h1>
      <form action="/users/forget" method="POST" id="fpf">
        <input type="email" name="email" placeholder="Enter you email address">
        <input type="submit" value="submit" id="sub">
     </form>
    </div>
 </body>
</html>