<div id="sign_up">
    <h1>Sign Up</h1>

    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>

    <p>
        <button><a href="/users/auth/google"><img src="https://i1.wp.com/www.androidawareness.com/wp-content/uploads/2018/10/google-icon.png?fit=500%2C500" alt=""><h4>Google Sign In/Sign Up</h4></a></button>
        <br>
    </p>
</div>